html,
body {
    height: 100%;
}
.page-contentClass{
    flex: 1 0 auto;
}

#sticky-footer {
    flex-shrink: none;
}

.border-template{
    border: 0.5px solid #bdc3c7;
    border-radius: 2px;
}

/* color principal de fondo  */
.background-template-color{
    background-color: #37A398;
}

/* color secundario de fondo */
.background-template-color2{
    background-color: #63BBB2;
}

/* color de fondo segun el texto  */
.background-template-text{
    background-color: #1D635D;
}

/* color de texto segun el fondo */
.text-template-background{
    color: #1D635D;
}

/* color de texto principal */
.text-template-color{
    color:  #F5F3F3;
}

.progressBar{
  animation-name: loadProgress;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate;
}

@keyframes loadProgress{
  from {
    width: 0%;
}
to {
    width: 100%;
}
}

.turnI{
    animation-name: rotation;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes rotation {
  0% {
    transform:rotate(0deg);
}
100% {
    transform:rotate(360deg);
}
}

@media (max-width: 1200px) {
  html, body{
    font-size:1rem;
  }
}

@media (max-width: 768px) {
  html, body{
    font-size:1rem;
  }
}

span.shortcut {
  display: block;
  font-size: x-small;
  /* width: 100px; */
  /* padding: 0 20px; */
  margin-bottom: -5px;
  /* margin: 0; */
  word-break: keep-all;
  text-align: center;
}

span.maintext {
  display: block;
  /* font-size: x-small; */
  margin-top: -7px;
  /* margin: 0; */
  word-break: keep-all;
  text-align: center;
}

.overflow-example {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  cursor: pointer;
}

.custom-text {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.5rem + 2px);
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.5rem;
  font-size: .875rem;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

.custom-thing {
  display: block;
  width: 100%;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.5rem;
  font-size: .875rem;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}


.cell-truncate {
  /* max-width: 250px; */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
  display: block;
}

.mainText{
  font-size: medium;
  font-weight: bold;
}

.secondText{
  /* display: inline-block; */
  font-size: smaller;
}

.brand{
  /* display: inline-block; */
  font-size: smaller;
  font-weight: 600;
  line-height: 20px;
}

#tbodyProducts tr td, #tbodyServices tr td, #tbodyFeeServices tr td {
  vertical-align: middle !important;
}

tr.with-nothing td {
  padding-top: 15px;
  padding-bottom: 15px;
}

#tbodyServices tr.with-nothing td {
  padding-top: 11px;
  padding-bottom: 11px;
}

tr.with-brand-and-detail td {
  padding-top: 0px;
  padding-bottom: 0px;
}

#tbodyFeeServices tr td {
  padding-top: 3px;
  padding-bottom: 3px;
  border-top: 0 !important;
}

tr.with-name-and-desc td {
  padding-top: 3px;
  padding-bottom: 3px;
}

tr.with-brand-or-detail td, tr.with-name-or-desc td {
  padding-top: 10px;
  padding-bottom: 10px;
}

/* tr.isStockAboveMinimum{
  background-color: rgba(0, 255, 0, 0.2);
} 
tr.isStockBelowMinimum {
  background-color: rgba(255, 0, 0, 0.2);
} */

/* .table-striped tbody tr.isStockBelowMinimum:nth-of-type(odd) {
  background-color: rgba(255, 0, 0, 0.2) !important;
}

.table-striped tbody tr.isStockBelowMinimum:nth-of-type(even) {
  background-color: rgba(255, 0, 0, 0.2) !important;
}

.table-striped tbody tr.isStockAboveMinimum:nth-of-type(odd) {
  background-color: rgba(0, 255, 0, 0.2) !important;
}

.table-striped tbody tr.isStockAboveMinimum:nth-of-type(even) {
  background-color: rgba(0, 255, 0, 0.2) !important;
} */

.isStockAboveMinimum td:nth-child(1) {
  box-shadow: inset 
    12px 0 0px 0px rgba(0, 255, 0, 0.3) !important;
}

.isStockBelowMinimum td:nth-child(1) {
  box-shadow: inset 
    12px 0 0px 0px rgba(255, 0, 0, 0.3) !important;
}

/* #tbodyProducts tr td:nth-child(2) {
  max-width: 80px !important;
  min-width: 80px !important;
} */
/* .cell-truncate:hover::after {
  content: attr(data-full-text);
  position: absolute;
  left: 0;
  top: 100%;
  background-color: #fff;
  padding: 5px 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  z-index: 1000;
  white-space: normal;
  max-width: 300px;
  word-wrap: break-word;
} */

#tbodyClients tr td p, #tbodyProviders tr td p, #tbodyFeeServices tr td p{
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

#tbodyClients tr td, #tbodyProviders tr td {
  overflow: hidden;
}

.nav-item:hover{
  cursor: pointer;
}