<div>
	<button class="btn btn-sm background-template-color2 text-template-background shadow-lg mr-1 buttonUp" id="buttonUp" onclick="backInit()">
		<i class="fas fa-chevron-up"></i>
	</button>
</div>
<script type="text/javascript">
	function backInit(){
		$('#containerTable').scrollTop(0)
	}
</script>
