{% extends "base.twig" %}
{% block head %}
{% endblock %}
{% block content %}
    {% if sistemSession %}
        <div class="d-flex justify-content-center">
            
        </div>
    {% endif %}
{% block script %}
    <script type="text/javascript">
        $(document).ready( function(){
            console.log("Ready!")
        });
    </script>
{% endblock %}
{% endblock %}