<div class="modal fade" id="modalListPrice" tabindex="-1" role="dialog" style="min-height: 300px;">
	<div class="modal-xl modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header background-template-color text-template-color">
				<span class="modal-title text-white">Lista de precios</span>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="input-group mb-3">
					<input type="text" id="inputTextToSearchPrice" onchange="getListPrice(this)" onkeyup="this.onchange()" class="form-control form-control-sm shadow-sm">
				</div>
				<div style="min-height: 300px;">
					<table class="table table-sm">
						<thead class="background-template-color text-template-color">
							<tr>
								<td class="text-left w-50">Descripción</td>
								<td class="text-left w-25">Rubro</td>
								<td class="text-center w-25">Importe</td>
								<!--td class="text-right">Importe U$S</td-->
								<td class="text-center w-25">Agregar</td>
							</tr>
						</thead>
						<tbody id="tbodyListPrice">

						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>